@import '../../sass/variables';

%header {
  position: sticky;
  top: 0;
  width: 100%;
  background-color: $secondary;
  display: flex;
  flex: 1;
  justify-content: space-around;
  align-items: center;

  .logo {
    flex: 1;
    display: flex;
    justify-content: center;
    margin-left: 100px;
    img {
      width: 235px;
      height: 140px;
    }
  }

  .search {
    flex: 1;
    margin-left: 20px;
    margin-right: 10px;

    svg {
      border: 2px solid $primary;
      color: $primary;
      padding: 5px;
    }

    :hover {
      border: 2px solid lighten($secondary, 25%);
      cursor: pointer;
    }
  }

  .nav {
    flex: 3;
    display: flex;
    justify-content: flex-end;
    margin-right: 100px;

    :hover {
      border: 2px solid lighten($secondary, 25%);
      cursor: pointer;
    }

    svg {
      color: $primary;
      border: 2px solid $primary;
      padding: 5px;
    }
  }

}

.collapsed {

  .header {
    @extend %header;
    background-color: $secondary;
    height: 130px;
  }

  .header-expanded {
    background-color: $secondary;
    height: 0;

    transition: height 0.5s;
    transition-timing-function: ease-in-out;
  }
}

.expanded {

  .header {
    @extend %header;
    background: $secondary;
    height: 130px;
  }

  .header-expanded  {
    height: 130px;
    background: $secondary;
    transition: height 0.5s;
    transition-timing-function: ease-in-out;
  }
}



